# Android
android/build/
android/app/build/
android/.gradle/
android/.kotlin/
android/local.properties
android/app/release/

# iOS
ios/build/
ios/build-device/
ios/out/
ios/*.xcodeproj/
ios/.swiftpm/

# Сборки
*.apk
*.aab
*.ipa

# Прочее
.DS_Store
*.iml
.idea/
